Your task is to generate Go tests in {{ .DomainModelName }}RepositorySuite for {{ .DomainModelName }}Repository according to
the example provided in orderRepositorySuite, which is the reference implementation. I am using testify/suite, google/go-cmp,
testcontainers-go, brianvoe/gofakeit libraries. Use table tests in each test method attached to the suite struct.

Since you have full implementation code of {{ .DomainModelName }}Repository,
come up with much more meaningful test cases, not just bare minimum in example.

Do not do database setup (data inserts) before test case!!

No need to explain anything, provide only generated Go code.


### My repository test suite hand-written for Order ###

{{ .OrderRepositoryTestCode }}

### My domain model hand-written for {{ .DomainModelName }} ###

{{ .DomainModelCode }}

### My repository code for {{ .DomainModelName }}  ###

{{ .DomainModelRepositoryCode }}

### which implements port interface ###

{{ .DomainModelPortCode }}
